@using FaceLogin.Models
@model FaceLogin.Models.User
<script src="~/js/takeimg.js" asp-append-version="true"></script>

<h1>Welcome &nbsp&nbsp &nbsp @Model.FirstName  </h1>
<a href="/logout">Log Out</a>
<h3> @ViewData["ifidentical"]</h3>
<h3>@ViewData["confidence"]</h3>
@{
    if(@ViewBag.imageurl!=null)
    {
        <div id="haveimage"> 
            <p>This is your current face picture for login</p>
            <img id="faceimage" src=@ViewBag.imageurl width="640" height="480" />
            <button id="displayvideo1">Click to change your picture </button>
        </div>
    }
    else
    {
        <div id="haveimage" style="display: none;">
            <p>This is your current face picture for login</p>
            <img id="faceimage" src=@ViewBag.imageurl width="640" height="480" />
            <button id="displayvideo1">Click to change your picture </button>
        </div>
        <div id="noimage" >
            <p>You could take a picture of your face for later login.</p>
            <button id="displayvideo2">Click to take a picture </button>
        </div>
    }
}
<div id="videodiv" style="display: none;">
    <p> Click save to save or update you face as the credential for later login</p>
    <button ID="snap" > Save </button><br><br><br><br>
    <video id="video" width="640" height="480" autoplay="autoplay"></video><br><br><br><br><br><br><br><br>
    <canvas id="canvas" width="640" height="480" style="visibility:hidden" ></canvas>
</div>


